<div id="background">
    <section class="gridArea">
        <div>
            <h3>Section A - My Course Info:</h3>
            <p id="notes">Please click each course title to see more details</p>
            <ul>
                <li (click)="onClick(i)" *ngFor="let items of courseList; let i = index">
                    {{items.courseTitle}}
                </li>
            </ul>
        </div>
    
    </section>
    <section class="gridArea">
        <div>
            <h3>Section B</h3>
            <ul>
                <li  *ngFor="let items of courseList; let i = index">
                    {{items.courseTitle}}
                    <div *ngIf="goForNext[i]">
                        <strong>Course Code:</strong> {{items.courseCode}}<br>
                        <strong>Course Name:</strong> {{items.courseTitle}}<br>
                        <strong>Day of Week:</strong> {{items.dayOfWeek}}<br>
                        <strong>Professor's Name:</strong> {{items.profName}}<br>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
